.flyout {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  min-width: 320px;
  height: 499px;
  background: #ffffff;
  border-radius: 25px 25px 0px 0px;
  z-index: 1031;
  display: flex;
  flex-direction: column;
  min-height: 45%;
  overflow: hidden;
  position: fixed !important;
  color: #03014c;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  margin: 0 !important;
}

.flyout-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flyout-header-text {
  display: flex;
  align-items: center;
  flex: 1 1;
  justify-content: flex-start;
}

.flyout-header-icon {
  display: flex;
  align-items: center;
  flex: 1 1;
  justify-content: flex-end;
}

.flyout-header h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2d294e;
}

@media screen and (min-width: 768px) {
  .flyout {
    width: 94%;
    left: 3%;
  }
}
