.frens-card {
  color: #ffffff !important;
  padding: 15px 10px;
}

.frens-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #9D6B38;
  font-size: 24px;
  font-weight: 800;
  margin-right: 8px;
}

.frens-title {
  font-weight: 800;
}

.frens-level {
  font-size: 13px;
}