.mine-page .mine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.mine-page .balance {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.41px;
  text-align: center;
}

.mine-page .balance p {
  font-size: 14px;
}
.mine-page .balance .token-balance {
  color: #f0b90b;
}

.mine-page .combo {
  background-color: #312D03;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
}

.mine-page .combo p {
  margin: 0;
}

.mine-page .tab {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 !important;
  padding: 7px 0;
  background-color: #312D03;
  border-radius: 10px;
  border: none !important;
  flex-wrap: nowrap;
}

.mine-page .tab .nav-link {
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.mine-page .tab .nav-link.active {
  background-color: #1D1208;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.mine-page .mine-cards {
  display: flex;
  flex-direction: column;
}

.mine-page .mine-card-row {
  display: flex;
  margin: 10px 0;
}

.mine-card-row .mine-card-col {
  padding: 0 5px !important;
}

.mine-page .mine-card {
  background: #312d03;
  border-radius: 25px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  height: 187px;
}

.mine-page .mine-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mine-page .mine-card-header h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}

.earnings-per-hour {
  color: #f0b90b;
  font-weight: 700;
}

.mine-page .mine-card-header .mine-card-image {
  margin-bottom: 5px;
  width: 55px;
  height: 54.89px;
}

.mine-page .mine-card-body {
  padding: 10px 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}

/* 
.card-level .upgrade-cost::before {
  content: '';
  position: absolute;
  height: 5%;
  width: 2px;
  background: linear-gradient(to bottom, transparent, #5a5959, transparent);
  margin-right: 7px;
  margin-top: -7px;
} */

.v-line {
  border-left: '1px solid #000';
  height: '20px';
  margin: '0 10px';
}

.card-level .upgrade-cost {
  font-size: 7px;
  text-align: left;
  line-height: 8px;
  max-width: 65% !important;
}

.combos {
  width: 100%;
}

.combos .combo-card {
  background-color: #312D03;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.combos .combo-card-completed {
  border: 2px solid #0e5a0c;
}

.combos .combo-name {
  font-size: 12px;
  font-weight: 700;
}

.combos .combo-card img {
  width: 75px;
}

.mine-card.can-upgrade {
  cursor: pointer;
}

.mine-card.cannot-upgrade {
  cursor: not-allowed;
  opacity: 0.6;
}

.earn-per-hour-upgrade {
  color: #4caf50;
}

.earn-per-hour-no-upgrade {
  color: #9b9696;
}

.card-level-upgrade {
  color: #4caf50;
}

.card-level-no-upgrade {
  color: #9b9696;
}

.insufficient {
  color: #b9a1a1;
}

.card-modal-image {
  width: 100%;
}
