.mine-page .mine-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}

.mine-page .balance {
  font-size: 36px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.41px;
  text-align: center;
}

.mine-page .balance p {
  font-size: 14px;
}
.mine-page .balance .token-balance {
  color: #f0b90b;
}

.mine-page .combo {
  background-color: #1f1f1f;
  padding: 7px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
}

.mine-page .combo p {
  margin: 0;
}

.mine-page .tab {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 !important;
  padding: 7px 0;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: none !important;
  flex-wrap: nowrap;
}

.mine-page .tab .nav-link {
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.mine-page .tab .nav-link.active {
  background-color: #333;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.mine-page .mine-cards {
  display: flex;
  flex-direction: column;
}

.mine-page .mine-card-row {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.mine-page .mine-card {
  background: #312d03;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: center;
  height: 202px;
}

.mine-page .mine-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mine-page .mine-card-header h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}

.earnings-per-hour {
  color: #f0b90b;
  font-weight: 700;
}

.mine-page .mine-card-header img {
  width: 75%;
  margin-bottom: 5px;
  width: 55px;
  height: 54.89px;
}

.mine-page .mine-card-body {
  padding: 10px 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}

.card-level .level {
  width: 35%;
}

.card-level .level::after {
  content: '';
  position: absolute;
  height: 5%;
  width: 2px;
  background: linear-gradient(to bottom, transparent, #5a5959, transparent);
  margin-left: 5px;
  margin-top: -7px;
}

.card-level .upgrade-cost {
  font-size: 7px;
  text-align: left;
  line-height: 8px;
  width: 75%;
}

.combos {
  width: 100%;
}

.combos .combo-card {
  background-color: #1f1f1f;
  border: 1px solid #91550d;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.combos .combo-card img {
  width: 75px;
}

.no-upgrade {
  color: #d3c3c3;
}

.mine-card.can-upgrade {
  cursor: pointer;
}

.mine-card.cannot-upgrade {
  cursor: not-allowed;
  opacity: 0.6;
}

.earn-per-hour-upgrade {
  color: #4caf50;
}

.earn-per-hour-no-upgrade {
  color: #f44336;
}

.card-level-upgrade {
  color: #4caf50;
}

.card-level-no-upgrade {
  color: #f44336;
}

.mine-card:hover.can-upgrade {
  transform: scale(1.05);
}

.insufficient {
  color: #b9a1a1;
}

.card-modal-image {
  width: 100%;
}
