.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.user-avatar {
  display: flex;
  align-items: center;
}

.main-avatar {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #222833;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.nav-card {
  position: relative;
  padding: 6px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.per-hour {
  padding-left: 15px;
}

.vertical-line::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, transparent, #5a5959, transparent);
  top: 0;
}

.user-avatar .avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin-right: 10px;
}

.level .label {
  font-weight: bold;
}

.per-hour .label {
  font-size: 8px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.41px;
  text-align: center;
}

.per-hour .main-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  color: #9d6b38;
}

.nav-card .hmr-links {
  width: 219px;
  border-radius: 50px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  background: linear-gradient(
    90deg,
    rgba(90, 90, 90, 0.5) 0%,
    rgba(125, 124, 124, 0.2) 100%
  );
  padding-right: 10px;
}

.progress-container {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-top: 4px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.4s ease;
}

.progress-label {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #000;
}

.progress-bar-container {
  width: 100%;
  height: 9px;
  background: linear-gradient(90deg, #000000 0%, #3b083d 100%);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.bar-progress {
  height: 100%;
  background: linear-gradient(90deg, #e8a14a 0%, #55c5fd 51.5%, #ff04f5 100%);
  border-radius: 5px;
  transition: width 0.3s ease;
}

.settings-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.gray-dot {
  width: 10px;
  height: 10px;
  background: #8a8a8a;
  border-radius: 50%;
}
